{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set _site_logo_classes = [
    "text-decoration-none",
    "site-logo",
  ]
%}
{%
  set _site_name_classes = [
    'text-decoration-none',
    'align-bottom',
    'text-' ~ bcl_header_style =='light' ? 'dark': 'white',
  ]
%}
{%
  set img_display = [
    "d-none",
    "d-lg-inline-block",
  ]
%}

{% block content %}
  {% if site_logo %}
    <a {{attributes.addClass(_site_logo_classes).setAttribute('rel', 'Home')}} href="{{ path('<front>') }}">
      <img {{ attributes.addClass(img_display).setAttribute('alt', 'Home'|t)}} src="{{ site_logo }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <p class="site-name">
      <a {{ attributes.addClass(_site_name_classes).setAttribute('rel', 'Home') }} href="{{ path('<front>') }}">
        {{ site_name }}
      </a>
    </p>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
