{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set logo_classes = [
    'text-decoration-none',
    'site-logo',
  ]
%}
{%
  set name_classes = [
    'text-decoration-none',
    'align-bottom',
    bcl_header_style == 'light' ? 'text-dark': 'text-white',
  ]
%}
{%
  set img_classes = [
    'd-none',
    'd-lg-inline-block',
  ]
%}

{% set site_logo_attr = create_attribute() %}
{% set site_logo_img_attr = create_attribute() %}
{% set site_name_attr = create_attribute() %}

{% block content %}
  {% if site_logo %}
    <a {{ site_logo_attr.addClass(logo_classes).setAttribute('rel', 'Home') }} href="{{ path('<front>') }}">
      <img {{ site_logo_img_attr.addClass(img_classes).setAttribute('alt', 'Home'|t) }} src="{{ site_logo }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <p class="site-name">
      <a {{ site_name_attr.addClass(name_classes).setAttribute('rel', 'Home') }} href="{{ path('<front>') }}">
        {{ site_name }}
      </a>
    </p>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
