{#
/**
 * @file
 * Override for blocks with plugin id = 'system_branding_block'.
 *
 * @see build/core/modules/system/templates/block--system-branding-block.html.twig
 * @see \Drupal\system\Plugin\Block\SystemBrandingBlock
 */
#}
{% set light = bcl_header_style == 'light' %}

{% block content %}
  {% apply spaceless %}
    {# Project name. #}
    {% if site_logo is not empty or site_name is not empty %}
      <div class="bcl-header__project{{ light is not empty ? ' light' }}">
        <div class="container">
          {% if site_logo is not empty and bcl_component_library != 'neutral' %}
            <a class="d-none d-lg-inline-block text-decoration-none site-logo" href="{{ path('<front>') }}">
              <img alt="{{ 'Home'|t }}" src="{{ site_logo }}"/>
            </a>
          {% endif %}
          {% if site_name is not empty %}
            <div class="bcl-header__site-name ps-0 site-name{{ bcl_component_library == 'neutral' ? ' h5 d-inline-block d-lg-none' }}">
              <a class="text-decoration-none align-bottom bcl-header__site-name mw-100"
                 href="{{ path('<front>') }}">
                {{ site_name }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endapply %}
{% endblock %}
