{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set light = bcl_header_style == 'light' %}

{% block content %}
  {% apply spaceless %}
    {# Project name. #}
    {% if site_logo is not empty or site_name is not empty %}
      <div class="bcl-header__project{{ light is not empty ? ' light' }}">
        <div class="container">
          {% if site_logo is not empty and bcl_component_library != 'neutral' %}
            <a class="d-none d-lg-inline-block text-decoration-none site-logo" href="{{ path('<front>') }}">
              <img alt="{{ 'Home'|t }}" src="{{ site_logo }}"/>
            </a>
          {% endif %}
          {% if site_name is not empty %}
            <div class="bcl-header__site-name site-name{{ bcl_component_library == 'neutral' ? ' h5 d-inline-block d-lg-none' }}">
              <a class="text-decoration-none align-bottom bcl-header__site-name mw-100"
                 href="{{ path('<front>') }}">
                {{ site_name }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endapply %}
{% endblock %}
