{#
/**
 * @file
 * Neutral footer.
 */
#}

{% macro bcl_title(title, classes) %}
  <p class="{{ classes }}">{{ title }}</p>
{% endmacro %}

{% set _section_2 = [] %}
{% set _section_3 = [] %}
{# First we parse the other_links, we make a simple grid. #}
{% for section in site_specific_footer.other_links %}
  {% if loop.index is even %}
    {% set _section_2 = _section_2|merge([
      {
        'type': 'content',
        'content':  _self.bcl_title(section.label,'fw-bold border-bottom pb-2 mb-2 mt-3'),
      },
      {
        'type': 'links',
        'links': bcl_footer_links(section.links),
      }
    ]) %}
  {% else %}
    {% set _section_3 = _section_3|merge([
      {
        'type': 'content',
        'content':  _self.bcl_title(section.label,'fw-bold border-bottom pb-2 mb-2 mt-3'),
      },
      {
        'type': 'links',
        'links': bcl_footer_links(section.links),
      }
    ]) %}
  {% endif %}
{% endfor %}

{# When follow section is present. #}
{% if site_specific_footer.social_links is not empty %}
  {# If section numbers are odd, then we flip the last row so to have the follow as first. #}
  {% if _section_2|length > _section_3|length %}
    {% set _last_in_section_2 = _section_2|last %}

    {# Compensate for bug in twig where _section_2[1:] returns empty if _section_2|length is 1. #}
    {% if _last_in_section_2 is empty %}
      {% set _last_in_section_2 = _section_2[0] %}
      {% set _section_2 = [] %}
    {% endif %}

    {% set _section_2 = _section_2[:_section_2|length - 1] %}
    {% set _section_3 = _section_3|merge([_last_in_section_2]) %}

  {% endif %}

  {# Follow section must always be the last on the left. #}
  {% set _section_2 = _section_2|merge([
    {
      'type': 'content',
      'content':  _self.bcl_title('Follow us on social media', 'fw-bold border-bottom pb-2 mb-2 mt-3'),
    },
    {
      'type': 'links',
      'links': bcl_footer_links(site_specific_footer.social_links),
    }]) %}
{% endif %}

{% set footer_top_left_content %}
  <p class="fw-bold mb-2">{{ site_specific_footer.site_identity }}</p>
  <p> {{ site_owner ? 'This site is managed by the @name'|t({'@name': site_owner}) }} </p>

  {% if accessibility_link %}
    {% block accessibility_link %}
      {% set _accessibility_link = pattern('link', {
        label: 'Accessibility'|t,
        path: accessibility_link,
      }) %}
      <p> {{ _accessibility_link }} </p>
    {% endblock %}
  {% endif %}
{% endset %}

{% set attributes = create_attribute().addClass(['pb-4', 'mt-4']) %}

{% block content %}
  {% set _top_sections =  {
    'extra_classes': 'pt-4 pt-lg-5',
    'cols': [
      {
        'classes': 'col-12 col-lg-4',
        'items': [
        {
          'type': 'content',
          'content': footer_top_left_content,
        },
      ],
      },
      {
        'classes': 'col-12 col-lg-4 pb-4 pb-lg-0',
        'items': _section_2,
      },
      {
        'classes': 'col-12 col-lg-4',
        'items': _section_3,
      }
    ],
  } %}

  {% include '@oe-bcl/footer' with {
    'variant': 'neutral',
    'rows': [_top_sections],
    'attributes': attributes,
  } only %}
{% endblock %}
