<div class="row">
  <div class="col-12 col-lg-3" id="oe-list-pages-left-column">
    {% set filters = content['extra_field_oe_list_page_filters:node:oe_list_page']|render %}
    {% if filters %}
      {{ pattern('offcanvas', {
        'variant': 'search',
        'title': 'Filter options',
        'body': filters,
        'placement': 'start',
        'body_scroll': false,
        'backdrop': true,
        'toggle': {
          'label': 'Filters',
          'variant': 'light',
          'size': 'lg',
          'icon': 'filter',
          'icon_position': 'before',
          'attributes': create_attribute().addClass(['d-lg-none', 'w-100', 'mb-4']),
        },
      }) }}
    {% endif %}
  </div>
  <div class="col-12 col-lg-9 col-xxl-8" id="oe-list-pages-right-column">
    <div class="row">
      <div class="col-md-6 col-lg-8 align-self-center">
        <h4 class="mb-0">
          <span class="text-capitalize">{{ label }}</span>
          ({{ content['extra_field_oe_list_page_total_count:node:oe_list_page'] }})
        </h4>
      </div>
      {% set selected_filters = content['extra_field_oe_list_page_selected_filters:node:oe_list_page'] %}
      {% if selected_filters[0]|length > 1 %}
      <div class="col-md-12 order-md-2 mt-3">
          {{ selected_filters }}
      </div>
      {% endif %}
    </div>
    {{ content['extra_field_oe_list_page_results:node:oe_list_page'] }}
  </div>
</div>
