<h2> {{ contact_eu_title| t }}  </h2>
{{ contact_eu_links }}
<h2> {{ social_media_title|t }} </h2>
{{ social_media_links }}
<h2> {{ legal_title|t }} </h2>
<ul>
  {% for legal_link in legal_links %}
    <li>{{ pattern('link', {
        'label': legal_link['link']['label'],
        'path': legal_link['link']['path'],
        'icon_position': legal_link['link']['icon_position']
      }) }}</li>
  {% endfor %}
</ul>
