<h2> {{ contact_title| t }} {{ project_name }} </h2>
<a href="{{ contact_path }}"> Link </a>

<h2> {{ follow_title| t }} </h2>
{% if follow_links is defined and follow_links is not empty and follow_links is iterable %}
<ul>
  {% for follow_link in follow_links %}
    {% set _icon = follow_link['icon']['name'] | replace({'-negative': ''}) %}

    <li>{{ pattern('link', {
        'label': follow_link['link']['label'],
        'path': follow_link['link']['path'].uri,
        'icon': [follow_link['icon']['name'] | replace({'-negative': ''})],
        'icon_position': follow_link['link']['icon_position'],
      }) }}</li>
  {% endfor %}
</ul>
{% endif %}
