<div class="col-12 col-lg-4">
  <p class="fw-bold border-bottom pb-2 mb-2"> {{ contact_eu_title|t }}  </p>
  {% if contact_eu_links is defined and contact_eu_links is not empty and contact_eu_links is iterable %}
    {% for contact_link in contact_eu_links %}
      {{ pattern('link', contact_link) }}
    {% endfor %}
  {% endif %}

  <p class="fw-bold border-bottom pb-2 pt-3 mb-2"> {{ social_media_title|t }} </p>
  {% if social_media_links is defined and social_media_links is not empty and social_media_links is iterable %}
    {% for social_link in social_media_links %}
      { pattern('link', social_link) }}
    {% endfor %}
  {% endif %}

  <p class="fw-bold border-bottom pb-2 pt-3 mb-2"> {{ legal_title|t }} </p>
  {% if legal_links is defined and legal_links is not empty and legal_links is iterable %}
    {% for legal_link in legal_links %}
      {{ pattern('link', legal_link) }}
    {% endfor %}
  {% endif %}
</div>
