{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.navbar_branding: Items for the navbar brand region (logo).
 * - page.navbar_left: Items for the navbar left region (primary menu).
 * - page.header_top: Items for the header top region.
 * - page.navigation_left: Items for the navbar right region.
 * - page.navigation_right: Items for the navbar right region.
 * - page.header: Items for the header region.
 * - page.sidebar_left: Items for the sidebar left region.
 * - page.sidebar_right: Items for the sidebar right region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{% set corporate_logos %}
  {% set anchor_attributes = bcl_component_library == 'neutral'
    ? create_attribute().addClass(['navbar-brand'])
    : create_attribute().addClass(['navbar-brand']).setAttribute('target', '_blank')
  %}
  <a {{ anchor_attributes }} href="{{ site_logo_href }}">
    {% if bcl_component_library == 'eu' %}
      <picture>
        <source media="(max-width: 992px)"
                srcset="{{ bcl_logo_path ~ 'eu/mobile/logo-eu--' ~ current_language_id|to_internal_language_id ~ '.svg' }}">
        <img src="{{ bcl_logo_path ~ 'eu/logo-eu--' ~ current_language_id|to_internal_language_id ~ '.svg' }}"
             alt="{{ site_logo_alt }}" title="{{ site_logo_title }}"/>
      </picture>
    {% elseif bcl_component_library == 'ec' %}
      <img src="{{ bcl_logo_path ~ 'ec/logo-ec--' ~ current_language_id|to_internal_language_id ~ '.svg' }}"
      alt="{{ site_logo_alt }}" title="{{ site_logo_title }}" />
    {% else %}
      <img src="{{ site_logo_url }}" alt="{{ site_logo_alt }}" title="{{ site_logo_title }}"/>
      <div class="h5 ms-4-5 d-none d-lg-inline-block">{{ site_name }}</div>
    {% endif %}</a>
{% endset %}

<div class="page">
  {% block header %}
    <header class="bcl-header bcl-header--{{ bcl_component_library }}">
      {% block head %}
        {{ pattern('navbar', {
          navigation: corporate_logos,
          right: page.header_top,
          color_scheme: 'light',
          background: false,
          attributes: create_attribute().addClass(['w-100', 'shadow-sm']),
        }) }}
      {% endblock %}

      {{ page.navbar_branding }}

      {# Navbar. #}
      {% block navbar %}
        {{ pattern('navbar', {
          navigation: page.navigation_left,
          right: page.navigation_right,
          color_scheme: 'dark',
          background: false,
          expanded_breakpoint: 'lg',
          attributes: create_attribute().addClass(['bcl-header__navbar']),
        }) }}
      {% endblock %}
      {# Breadcrumbs. #}
      <div class="container">
        {% block breadcrumbs %}
          {{ page.breadcrumbs }}
        {% endblock %}
      </div>
      {% if page.header %}
        {{ page.header }}
      {% endif %}
    </header>
  {% endblock %}
  <main>
    {{ page.hero }}
    <div class="container {{ page.header ? 'mt-2': 'mt-5' }}">
      <div class="row">
        {% if page.highlighted %}
          {{ page.highlighted }}
        {% endif %}

        {% if page.sidebar_left %}
          <div class="col-md-3">
            {{ page.sidebar_left }}
          </div>
        {% endif %}

        {% if page.content or page.content_top %}
          <div class="col-12 {{ page.sidebar_left ? 'col-lg-9' }}">
            {% if page.content_top %}
              <div class="mb-3 clearfix">
                {{ page.content_top }}
              </div>
              <hr class="d-none d-md-block mt-4 mb-4-75">
            {% endif %}

            {{ page.content }}
          </div>
        {% endif %}
     </div>
    </div>
  </main>
  {% if page.footer %}
    {{ page.footer }}
  {% endif %}
</div>
