{#
/**
 * @file
 * Search result template.
 */
#}
{% set _title %}
  <a class="text-underline-hover" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _content %}
  <span class="text-muted text-nowrap me-4-5">{{ content.oe_event_dates }}</span>
{% endset %}
<article{{attributes}}>
  {{ pattern('card', {
    variant: 'search',
    title: _title,
    text: content.oe_summary,
    image: image,
    content: _content
  }) }}
