{% if bcl_component_library == 'ec' %}
  <header class="ec__header bcl-header">
{% else %}
  <header class="bcl-header">
{% endif %}
  <nav class="w-100 shadow-sm navbar navbar-expand-lg navbar-light">
    <div class="container">
      {{ navbar_branding }}
      <ul class="nav">
        {{ navbar_right }}
      </ul>
    </div>
  </nav>
  <div class="bcl-header__project">
    <div class="container">
      {{ header_top }}
    </div>
  </div>
  {% set attributes = {
    'class':  [
        'bcl-header__navbar',
    ]
  } %}
  {{ pattern('navbar', {
    navbar_left: header_left,
    navbar_right: header_right,
    color_set: "light",
    collapse_id: "navbarNavDropdown",
    attributes: attributes
  }) }}
  <div class="container">
    {{ breadcrumbs }}
  </div>
</header>
