{#
/**
 * @file
 * Project full display.
 */
#}
{% apply spaceless %}

{% macro header(title, id) %}
  {% set attributes = id ? create_attribute({'id': id}) %}
  <h3 class="fw-bold mb-4 mt-4-5"{{ attributes }}>{{ title }}</h3>
{% endmacro %}

{% macro field_with_header(field) %}
  {% set _content %}{{ field|field_value }}{% endset %}
  {% if _content|trim %}
    {{ _self.header(field|field_label, field['#inpage_nav_id'] ?? null) }}
    {{ _content }}
  {% endif %}
{% endmacro %}

{% set _project_details %}
  {% if project_status_args is not empty %}
    {{ attach_library('oe_whitelabel/project_status') }}
    {% include '@oe-bcl/project-status' with project_status_args only %}
  {% endif %}
  {% if content.group_budget is not empty %}
    {% set _contribution_legend_args = {
      'variant': 'horizontal',
      'items': content.group_budget|filter(
        (item, key) => key|first != '#' and item|field_value is not empty
      )|map((item, key) => {
        'term': [{
          'label': item|field_label,
          'color': (corporate_contributions is defined) ? (key == 'oe_project_budget') ? "bg-gray-400" : "bg-primary",
        }],
        'definition': [{
          'label': item|field_value,
        }],
      }),
    } %}
    {% if corporate_contributions is defined %}
      {% include '@oe-bcl/project-status/project-contributions' with {
        'corporate_contributions': corporate_contributions,
        'chart': true,
        'legend': _contribution_legend_args,
      } only %}
    {% else %}
      {#
        The contributions pie chart cannot be drawn, possibly because there is
        only one budget field filled in.
        Call the BCL component, not the pattern, because parameters already have
        the required structure for BCL.
      #}
      {% include '@oe-bcl/description-list' with _contribution_legend_args|merge({
        'attributes': create_attribute().addClass('border-bottom'),
      }) only %}
    {% endif %}
  {% endif %}
  {{ content.group_project_details|filter((subgroup, key) => key|first != '#') }}
{% endset %}

{% if _project_details|trim is not empty %}
  {% set _project_details_title = 'Project details'|t %}
  {% set _project_details %}
    {{ _self.header(_project_details_title, 'project-details') }}
    {{ _project_details }}
  {% endset %}
  {% set inpage_navigation_links = [{
    'path': '#project-details',
    'label': _project_details_title,
  }]|merge(inpage_navigation_links) %}
{% endif %}

{% set inpage_navigation_content %}
  {#
    Reliably absorb top margin of first element.
    @todo Add a utility class 'eat-margin-top' with :before style.
  #}
  <div class="h-0 invisible mt-n5 mb-5"></div>
  {% block inpage_navigation_content %}
    {{ _project_details }}
    {{ _self.field_with_header(content.oe_summary) }}
    {{ _self.field_with_header(content.oe_cx_objective) }}
    {{ _self.field_with_header(content.oe_cx_impacts) }}
    {{ _self.field_with_header(content.oe_cx_lead_contributors) }}
    {{ _self.field_with_header(content.oe_project_participants) }}
    {{ _self.field_with_header(content.oe_cx_achievements_and_milestone) }}
  {% endblock %}
{% endset %}

<article{{ attributes }}>
  {{ pattern('inpage_navigation', {
    'title': 'Page content'|t,
    'links': inpage_navigation_links,
    'content': inpage_navigation_content,
    'full_layout': true,
  }) }}
</article>

{% endapply %}
