{#
/**
 * @file
 * Template for Teaser view display of Project content type.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _content %}
  <span class="text-muted text-nowrap me-4-5">{{ content.oe_project_dates }}</span>
{% endset %}
{% block content %}
<article{{attributes}}>
  {{ pattern('card', {
    variant: 'search',
    title: _title,
    text: content.oe_teaser,
    image: image,
    content: _content,
    badges: badges,
  }) }}
</article>
{% endblock %}
