{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 */
#}
<form{{ attributes.addClass('search-form', 'search-block-form', additional_classes) }} action="{{ url }}">

<label for="fname">{{ label }}</label>
  <input type="text" id="fname" name="fname" placeholder=" {{ placeholder }}">
  <input type="button" value="{{ button_label }}">
</form>
