{#
/**
 * @file
 * Theme block implementation to display facets summary.
 *
 * @see ./core/themes/stable/templates/block/block.html.twig
 */
#}
{% if label and content['#items'][0]['#theme'] is defined and content['#items'][0]['#theme'] == 'facets_summary_count'%}
  {% set results_count = content['#items'][0] %}
{% endif %}
{% block content %}
  {% spaceless %}
    {{ title_prefix }}
    {% if label %}
      <div class="col-md-6 col-lg-8 align-self-center">
        <h4 class="mb-0"><span class="text-capitalize">{{ label }} </span> {{ results_count }}</h4>
      </div>
    {% endif %}
    {{ title_suffix }}
    <div class="col-md-12 order-md-2 mt-3">
      {{ content }}
    </div>
  {% endspaceless %}
{% endblock %}
