{#
/**
 * @file
 * Template for the navigation right search form element .
 *
 * @see ./core/modules/system/templates/form.html.twig
 */
#}

{% set submit_button = pattern('button', {
  'variant': 'light',
  'icon': 'search',
  'type': 'submit',
  'attributes': {
    'id': 'submit',
    'class': [
      'border-start-0',
      'rounded-0',
      'rounded-end',
      'px-3',
    ],
  },
})%}

{% set submit = element.submit|merge({
  '#markup': submit_button|render,
  })
%}

<form {{ attributes.addClass('d-flex', 'mt-3', 'mt-lg-0') }}>
  {{ element.search_input }}
  {{ submit }}
  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}
</form>
