{%
  set _header_classes = [
    'bcl-header',
  ]
%}
{%
  set _nav_classes = [
    'w-100',
    'shadow-sm',
    'navbar',
    'navbar-expand-lg',
    'navbar-light',
  ]
%}
<header {{ attributes.addClass(_header_classes) }}>
  <nav {{ attributes.addClass(_nav_classes) }}>
    <div class="container">
      {{ navbar_branding }}
      <ul class="nav">
        {{ navbar_right }}
      </ul>
    </div>
  </nav>
  {%
    set _project_classes = [
      'bcl-header__project',
      bcl_header_style == 'light' ? bcl_header_style,
    ]
  %}
  <div {{attributes.addClass(_project_classes)}}>
    <div class="container">
      {{ header_top }}
    </div>
  </div>
  {% set attributes = {
    'class':  [
        'bcl-header__navbar',
    ]
  } %}
  {% block content %}
    {{ content}}
  {% endblock %}
  <div class="container">
    {{ breadcrumbs }}
  </div>
</header>
